:root {
  --primary-color: rgb(192 38 211);
  --background-color: rgb(147 51 234);
  --secondary-color: black;
  font-family: "Roboto", sans-serif;
}

.side-bar ul {
  height: 200vh;
}

/* new css */

.notification-bell-box {
  border: 1px solid var(--primary-color);
  width: 400px;
  height: 20vh;
  margin-top: 20px;
}
.bell {
  font-size: 50px;
  position: relative;
  left: 160px;
  top: 30px;
}

.notification-no {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: red;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 40px;
  left: 180px;
}

.notification-time-1 {
  font-size: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: red;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 45px;
  left: 100px;
}

.avatar-1 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: red;
  color: #fff;
  position: relative;
  top: 40px;
  left: 110px;
}

.notification-time-2 {
  font-size: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: red;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 60px;
  left: 210px;
}
.avatar-2 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: red;
  color: #fff;
  position: relative;
  bottom: 50px;
  left: 190px;
}
