:root {
  --primary-color: rgb(192 38 211);
  --background-color: rgb(147 51 234);
  --secondary-color: black;
  font-family: "Roboto", sans-serif;
}
.card-box {
  height: 25vh;
}
.footer {
  margin-top: 900px;
}
.nav-sign-box {
  margin-top: 100px;
}
/* slider css */

.slider-container {
  border: 1px solid var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  width: 500px;
  margin-bottom: 2rem;
  margin-top: 20px;
}
.slider {
  width: 20%;
  height: 2rem;
  position: relative;
}
.slider input[type="range"] {
  position: absolute;
  left: 0;
  top: 0;
  width: 20rem;
  height: 0.5rem;
  -webkit-appearance: none;
  background: transparent;
  z-index: 99;
}
.slider input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 2rem;
  height: 2rem;
  background-color: rgb(247, 247, 247);
  border: 2px solid var(--primary-color);
  cursor: pointer;
  box-shadow: 0 0 0 1px var(--background-color);
  border-radius: 50%;
}
.slider input ::-webkit-slider-thumb:hover {
  transform: scale(1.1);
}
.slider progress {
  width: 20rem;
  height: 0.5rem;
  -webkit-appearance: none;
  position: absolute;
  top: 0;
  border-radius: 0.5rem;
  overflow: hidden;
}
.slider progress::-webkit-progress-bar {
  background: #f0f0f0;
}
.slider progress ::-webkit-progress-value {
  background: rgb(9, 205, 240);
}
.slider-value {
  font-family: "google sans regular";
  width: 3rem;
  height: 2rem;
  margin-left: auto;
  text-align: center;
}

/* *,
*::before,
*::after {
  box-sizing: border-box;
} */
/* slide css */

.slide {
  width: 700px;
  height: 500px;
  position: absolute;
  transition: 1s;
}
.slides-container {
  width: 700px;
  height: 500px;
  box-shadow: 0px 0px 3px gray;
  position: relative;
  overflow: hidden;
}
.slider-btn {
  position: relative;
}
.next-btn {
  padding: 0.5rem 2rem;
  background: transparent;
  border-radius: 5px;
  font-size: 50px;
  float: right;
  margin-top: 30%;
  border: none;
  color: white;
}
.next-btn:hover {
  background-color: transparent;
  color: black;
}
.prev-btn {
  padding: 0.5rem 2rem;
  background: transparent;
  border-radius: 5px;
  font-size: 50px;
  margin-top: 30%;
  border: none;
  color: white;
}
.prev-btn:hover {
  background-color: transparent;
  color: black;
}
